# sandbox_secrets.tfvars
# Variable overrides for the sandbox workspace (SECRETS! DO NOT COMMIT TO SOURCE CONTROL)

# general

azure_sub_id    = "xxxxx-xxxx-xxxxx-xxxxx-xxxxx"
azure_tenant_id = "xxxx-xxxx-xxxx-xxxx-xxxxx"

azure_client_id = "xxxxx-xxxx-xxxxx-xxxxx-xxxxx"
azure_client_secret = "xxxxx-xxxx-xxxxx-xxxxx-xxxxx"

jenkins_ansible_username = "<JENKINS_POST_USERNAME>"
jenkins_ansible_password = "<JENKINS_POST_PASSWORD>"

# shared
